{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<script src="{{ STATIC_PREFIX }}image_streams/js/jcarousellite_1.0.1.min.js"></script>
<script>
load_carousel = function() {
    $(".art_stream").jCarouselLite({
        btnNext: ".next",
        btnPrev: ".prev",
        auto: 4000,
        visible: 1,
        speed: 1000
    });
};
//$(document).ready(load_carousel);
$(load_carousel);
</script>
<div style="padding-left:50%; height:290px;">
<div class="art_stream" style="margin-left:-140px;">
<ul>
{% load image_stream_helpers %}
{% for img in images %}
<li style="height:280px;width:280px; text-align:center;margin:0;padding:0;">
{% if link %}<a href="{% resolve link %}">{% endif %}<img src="{% resolve src %}" alt="{% resolve title %}" style="background: white; padding: 4px; border:1px solid #EFEBE8;" />{% if link %}</a>{% endif %}</li>
{% endfor %}
</ul>
</div>
</div>
<div class="art_stream_controls" style="text-align:center; margin: 3px;">
<img src="{{ STATIC_PREFIX }}image_streams/img/prev.png" alt="Go to previous image" class="prev" style="
	background-color:  #F1EEE9;
	border: solid 1px #E5E4E0;
	color: #BB4239;
	padding: 6px;
	text-decoration: none;
	font-size: 11px;
	cursor: pointer;" />
<img src="{{ STATIC_PREFIX }}image_streams/img/next.png" alt="Go to next image" class="next" style="
	background-color:  #F1EEE9;
	border: solid 1px #E5E4E0;
	color: #BB4239;
	padding: 6px;
	text-decoration: none;
	font-size: 11px;
	cursor: pointer;" />
</div>
